<?xml version="1.0"?>
<module name="devb">
	<type>Element</type>
	<classification>Driver</classification>

	<source>
		<location subdirs="false">.</location>
		<location subdirs="true">include</location>
	</source>
	<GroupOwner>os</GroupOwner>
<!--
        <contents>
                <component id="devb-include">
                        <kind type="header"/>
			<source>
                        	<location basedir="include" subdirs="true" runtime="false">.</location>
			</source>
                </component>
        </contents>
-->
	<requires>
		<part build="false" location="lib/pccard"/>
		<part build="false" location="lib/cache"/>
	</requires>
</module>

