<?xml version="1.0"?>
<module name="devb-sdmmc">
	<type>Element</type>
	<classification>Driver</classification>
	<description>
	<short>SD/MMC Driver</short>
	<abstract>
	<![CDATA[Driver for SD/MMC cards]]>
	</abstract>
	</description>

	<supports>
		<availability>
			<cpu isa="arm">
				<byteOrder>le</byteOrder>
			</cpu>
			<cpu isa="x86"/>
		</availability>
	</supports>

	<source available="false">
		<location type="">.</location>
	</source>
	<GroupOwner>hw</GroupOwner>
	<RuntimeComponent>Neutrino RTOS</RuntimeComponent>


	<contents>
		<component id="sdmmc" generated="true">
			<location basedir="{cpu}/{o|endian}"
				 runtime="true">devb-sdmmc</location>
		</component>

	</contents>

	<requires>
		<part build="true" location="lib/drvr"/>
		<part build="false" location="hardware/devb"/>
	</requires>

</module>
